.DS_Store
build
xcuserdatad

Pods
Pods/Pods.xcodeproj/xcuserdata/joel-mini.xcuserdatad/xcschemes/CodableFirebase.xcscheme
Pods/Pods.xcodeproj/xcuserdata/joel-mini.xcuserdatad/xcschemes/FirebaseUI-FirebaseAuthUI.xcscheme
